<!DOCTYPE HTML>
<html>
	<head>
		<title>NBA Statistics</title>
		<link rel="shortcut icon" href="static/images/favicon.ico">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>

	<body class="landing is-preload">
		<div id="page-wrapper">
			<!-- Header -->
			<header id="header" class="alt">
				<h1><a href="/">Stats</a> by Aman Gupta</h1>
			</header>

			<!-- Banner -->
			<section id="banner">
          		<br>
				<h2>NBA Games Statistics</h2>
				<p></p>
				<ul class="actions special">
					<li>
						<a href="#stats" class="button icon solid fa-chevron-down scrolly">Go To Stats</a>
					</li>
				</ul>
			</section>

			<!-- Main -->
			<section id="main" class="container">
				<section class="box special">
					<header class="major">
						<h2>Introducing the ultimate website<br />
							for basketball games stats and visualization
						</h2>
						<p></p>
					</header>
					<span class="image featured">
						<img src="static/images/pic01.jpg" alt="" />
					</span>
				</section>
				<section class="box special features" id="stats">
					<!-- Graph 1 -->
          <!-- 
					<section>
						<center>
							<h3>USA Cities participated in NBA games</h3>
							<iframe src="/map"
							  width="800"
							  height="400"
							  title="chart name"
							  style="border: #2b2b2b">
							</iframe>
						</center>
					</section>
          -->
					<!-- Graph 2 -->
					<section>
						<center>
							<br>
							<img src="static/images/pst.png" width="600" height="400"/>
							<h3>This graph shows how many players played for each position</h3>
						</center>
					</section>
					<!-- Graph 3 -->
					<section>
						<center>
							<br>
							<img src="static/images/city_of_players.png" width="600" height="600"/>
							<h3>This graph shows how many players played for each city</h3>
						</center>
					</section>
					<!-- Graph 4 -->
					<section>
						<center>
							<br>
							<img src="static/images/wt_of_players.png" width="600" height="600"/>
							<h3>This graph shows the Average weight of players played for each team</h3>
						</center>
					</section>
					<!-- Graph 5 -->
					<section>
						<center>
							<br>
							<img src="static/images/avgscores.png" width="500" height="500"/>
							<h3>This graph shows the Average score of Celtics team for seasons 2017-2019</h3>
						</center>
					</section>
				</section>
			</section>
			<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://twitter.com/NBA?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="https://www.facebook.com/nba/" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
					<li><a href="https://www.instagram.com/nba/?hl=en" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="https://watch.nba.com/" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Aman Analytics Compnay. All rights reserved.</li>
				</ul>
			</footer>
		</div>
		<!-- Scripts -->
		<script src="static/assets/js/jquery.min.js"></script>
		<script src="static/assets/js/jquery.dropotron.min.js"></script>
		<script src="static/assets/js/jquery.scrollex.min.js"></script>
		<script src="static/assets/js/browser.min.js"></script>
		<script src="static/assets/js/breakpoints.min.js"></script>
		<script src="static/assets/js/util.js"></script>
		<script src="static/assets/js/main.js"></script>
  		<script src="static/assets/js/jquery.scrolly.min.js"></script>
	</body>
</html>